.container{
    // text-align:  center;
    padding: 2%;
}
#leftbut{
  float: right;
}

ion-card{
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.965);
    color: white;
  }
  ion-card-title{
    // background: black;
    color: white;
  }
  ion-content{
      padding: 10%;
  }

  ion-title{
    // background: black;
    color: rgba(0, 0, 0, 0.877);
  }