#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.cont{
  padding: 5%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
ion-label{
  padding: 5%;
}
ion-card{
  background: black;
  color: white;
}
ion-header{
  background: black;
  color: white;
}
ion-title{
  color: white;
}
ion-card-title{
  // background: black;
  color: white;
}
p{
  // background: black;
  color: white;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-toolbar {
  --background: translucent;
}